/* orbitron */
.orbitron{
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
}
/* inter */
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/* users given idea title */
.card-h{
 background-color: #282829;
}

/* footer */
.font-color{
  color: #ffc857;
}

.bg-p{
  background-color: gray;
}
/* backward section */
.font-color1{
color: #bdc1a3;
padding: 30px 40px;
}

/* trash-bg */
.trash-bg{
  background-image: url('../mars-bg.jpg');
  background-position: -50px bottom;
  background-size: cover;
}
